form {
  position: fixed;
  width: 35%;
  height: 40px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden !important;
}

.searchBar {
  border: 1px solid #fff;
  background-color: rgb(238, 240, 242);
  color: rgb(177, 182, 185);
  height: 100%;
  width: 100%;
  font-size: 16px;
  border-radius: 24px;
  padding: 8px 8px 8px 40px;
  outline: 0;
  box-sizing: border-box;
}
.formSearchIcon {
  background-repeat: no-repeat;
  display: inline-block;
  fill: transparent;
  color: rgb(177, 182, 185) !important;
  width: 24px;
  height: 24px;
}

.formSearchIcon {
  position: absolute;
  top: 9px;
  left: 14px;
}

.searchBar::placeholder {
  color: rgb(177, 182, 185);
}
.searchDiv {
  margin-top: 20vh;
  margin-left: 30vw;
  display: block;

  z-index: 100;
}
.contDiv {
  margin-top: 15vh !important;
  width: 100%;
  padding: 0 10vw;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}
